<!-- 
  This file is part of VertNet: https://github.com/VertNet/webapp

  VertNet is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  VertNet is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Foobar.  If not, see: http://www.gnu.org/licenses

  This is the App Engine configuration file for local development.
  Note that static assets are sources from www/ which contains full
  sourcecode without minification. 
-->
<!--
<td><%= this.model.get('institutioncode') + ' ' + this.model.get('collectioncode') + ' ' + this.model.get('catalognumber')%></td>
-->
<td><% var occid = this.model.getOccIdentifier() %> <%= occid %></td>
<td><%= this.model.get('class') + ': ' +  this.model.get('scientificname')%></td>
<td><% var loc = this.model.getLocation() %> <%= loc %></td>
<td><% var year = this.model.getYear() %> <%= year %></td>
<td><% if (this.model.isMappable()) { %>
		<span class="glyphicon glyphicon-map-marker"></span>
	<% } %></td>	
<td><% if (this.model.get('associatedmedia')) { %>
		<span class="glyphicon glyphicon-facetime-video"></span>
	<% } %></td>	