<!-- 
  This file is part of VertNet: https://github.com/VertNet/webapp

  VertNet is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  VertNet is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Foobar.  If not, see: http://www.gnu.org/licenses

  This is the App Engine configuration file for local development.
  Note that static assets are sources from www/ which contains full
  sourcecode without minification. 
-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex5-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
 		<a  class="navbar-brand" href="http://www.vertnet.org/index.html">
        	<img src="http://www.vertnet.org/images/VNLogo_Full_Transparent-303x85.png" width="50%" height="50%" alt="logo" /></a>
  </div>
  <div class="collapse navbar-collapse navbar-ex5-collapse">
    <ul class="nav navbar-nav">
    	<li class=""><a href="http://www.vertnet.org/index.html">&nbsp;<small><b class="glyphicon glyphicon-home"></b></small></a></li>
      <li class="">
        <a id="search" href="/search">Search</a>
      </li>
      <li class="">
        <a id="publishers" href="/publishers">Publishers</a>
      </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Join&nbsp;<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
        <a href="http://www.vertnet.org/join/join.html">Join VertNet</a>
     </li>
        <li>
            <a href="http://www.vertnet.org/join/ipt.html">VertNet IPT</a>
        </li>
      </ul>
    </li>               
			 <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu">
					<li>
					  <a href="http://www.vertnet.org/resources/help.html">Help &amp; How To</a>
					</li>
					<li>
					  <a href="http://www.vertnet.org/resources/norms.html">VertNet Norms</a>
					</li>                   
                    <li>
                      <a href="http://www.vertnet.org/resources/workshops.html">Training Workshops</a>
                    </li>
                    <li>
                      <a href="http://www.vertnet.org/resources/georef.html">Georeferencing</a>
                    </li>
                    <li>
                      <a href="http://www.vertnet.org/resources/publications.html">Publications &amp; Video</a>
                    </li>
                    <li>
                      <a href="http://www.vertnet.org/resources/developers.html">Developers</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">About&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="http://www.vertnet.org/about/about.html">About VertNet</a>
                    </li>
                    <li>
                      <a href="http://www.vertnet.org/about/team.html">Team and Committee</a>
                    </li>
                    <li>
                      <a href="http://www.vertnet.org/about/partners.html">Partners and Supporters</a>
                    </li>
                    <li>
                      <a href="http://www.vertnet.org/about/classicnetworks.html">Classic Networks</a>
                    </li>  
                    <li>
                      <a id="stats" href="/stats">Portal Statistics</a>
                    </li>                   
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Feedback&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="http://www.vertnet.org/feedback/contact.html">Contact Us</a>
                    </li>
                    <li>
                      <a href="http://blog.vertnet.org/" target="_blank">Blog&nbsp;<small><b class="glyphicon glyphicon-share-alt"></b></small></a>
                    </li>
                    <li>
                      <a href="http://twitter.com/VertNetOrg" target="_blank">Twitter&nbsp;<small><b class="glyphicon glyphicon-share-alt"></b></small></a>
                    </li>
                    <li>
                      <a href="http://www.facebook.com/VertNet" target="_blank">Facebook&nbsp;<small><b class="glyphicon glyphicon-share-alt"></b></small></a>
                    </li>
                    <li>
                      <a href="http://plus.google.com/106668930991835907114" target="_blank">Google Plus&nbsp;<small><b class="glyphicon glyphicon-share-alt"></b></small></a>
                    </li>
                  </ul>
                </li>
			    <li class-""><a href="http://www.vertnet.org/resources/help.html">&nbsp;<small><b class="glyphicon glyphicon-question-sign"></b></small></a></li>
              </ul>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a id="login" href="#">
          <small>
            <span id="login-text" class="glyphicon glyphicon-user"></span>
          </small>
        </a>
        <a id="authenticated" href="">
          <small>
            <span id="auth-text" class="glyphicon glyphicon-user"></span>              
          </small>
        </a>      
      </li>
      <li>
         <a id="logout" href="">
          <small>logout</small>
        </a>
      </li>
     </li>
    </ul>      
  </div>
</div>
</nav>
