<!-- 
  This file is part of VertNet: https://github.com/VertNet/webapp

  VertNet is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  VertNet is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Foobar.  If not, see: http://www.gnu.org/licenses

  This is the App Engine configuration file for local development.
  Note that static assets are sources from www/ which contains full
  sourcecode without minification. 
-->
<div id="explore-page-content" class="container">
  <div class="search-spinner"></div>    

  <!-- Page title. -->
  <div class="page-header">
    <h1>Publishers <small>VertNet Beta</small></h1>
  </div>
  
  <p class="lead">Explore over <span id="reccount" class="text-primary pub-stats"></span> from <span id="rescount" class="text-primary pub-stats"></span> shared by <span id="pubcount" class="text-primary pub-stats"></span> globally.</p>

  <div id="click-row-tip" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Pro tip! </strong>Click on a table row to view the publisher detail page.
  </div>

  <table id="pubTable" class="table table-striped table-hover search-results-hover">
    <thead>
      <tr>
        <th>Publisher</th>        
        <th>Code</th>
        <th>Records</th>
        <th>Resources</th>
      </tr>
    </thead>
    <tbody> 
  </tbody>
</table>
