<!-- 
  This file is part of VertNet: https://github.com/VertNet/webapp

  VertNet is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  VertNet is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Foobar.  If not, see: http://www.gnu.org/licenses

  This is the App Engine configuration file for local development.
  Note that static assets are sources from www/ which contains full
  sourcecode without minification. 
-->
<td><%= this.model.get('title')%></td>
<td style="text-align:center"><%= this.model.get('license')%></td>
<td style="text-align:center"><%= this.model.get('migrator')%></td>
<td style="text-align:center"><%= this.model.getDate()%></td>
<td style="text-align:center"><%= this.model.get('lastindexed')%></td>
<td style="text-align:right"><%= this.model.records()%></td>
<td style="text-align:center"><a href="<%= this.model.get('source_url')%>" target="_blank"><span class="glyphicon glyphicon-file"></span></a></td>
<td style="text-align:center"><a href="/search?q=gbifdatasetid:<%= this.model.get('gbifdatasetid')%>"><span class="glyphicon glyphicon-search"></span></a></td>
