<!-- 
  This file is part of VertNet: https://github.com/VertNet/webapp

  VertNet is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  VertNet is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Foobar.  If not, see: http://www.gnu.org/licenses

  This is the App Engine configuration file for local development.
  Note that static assets are sources from www/ which contains full
  sourcecode without minification. 
-->
<div id="explore-page-content" class="container">
  <div class="search-spinner"></div>    
  <div class="page-header">
    <h1>Search <small>VertNet</small></h1>
  </div>
    <p><a href="http://vertnet.org/resources/help.html#t-tab2" title="Link to VN Portal Help page" target="_blank"> Need Help?</a>&nbsp;<small><b class="glyphicon glyphicon-share-alt"></b></small>&nbsp;<a href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" title="Link to VN Portal Advanced Search Guide" target="_blank"> Advanced Search Guide</a>&nbsp;<small><b class="glyphicon glyphicon-share-alt"></b></small>&nbsp;<a href="../publishers" title="Link to VN Portal Publishers" target="_blank"> Institution Codes</a>&nbsp;<small><b class="glyphicon glyphicon-share-alt"></b></small></p>
  <div id="whoops" class="alert fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Search is a little slow right now. Automatically retrying ...
  </div>
  <div id="search-form">
    <div class="row">
     <div class="col-lg-11">
      <div id="search-keywords-div">
        <input id="search-keywords-box" type="text" placeholder="full text record search...">
        <a id="show-search-options" href="#">
          <span id="search-carat" class="caretAdvanced"><h7 class="small">advanced search options</h7></span>
        </a>
      </input>
    </div>            
    <div id="advanced-search-form">
      <button id="close-advanced-search" type="button" class="close" data-dismiss="alert">×</button>
      <VNlegend>Find records with...</VNlegend>

      <form class="form-horizontal" role="form">
      
<!-- START DWC -->       
             <div class="form-group">
            <label class="col-lg-2 control-label"><!--<a id="show-instCode-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="instCode-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a> --> &nbsp; Darwin Core terms</label>
              <div class="col-lg-10">
            <select class="form-control" id="inst-dropdown">             
            </select>
              </div>
              </div>

        <div id="dwcterm">
          <div class="form-group">
            <label class="col-lg-2 control-label"><!--<a id="show-dcTerms-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="dcTerms-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a> --> &nbsp; </label>         
              <div class="vn-col-md-2">
                <input id="collectioncode" class="form-control" type="text" placeholder="CollectionCode">
              </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
              <div class="vn-col-md-2">
                <input id="basisofrecord" class="form-control" type="text" placeholder="BasisOfRecord">
              </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>              
              <div class="vn-col-md-2">
                <input id="iptrecordid" class="form-control" type="text" placeholder="OccurrenceID">
              </div> 
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>                                       
              <div class="vn-col-md-2">
                <input id="catalognumber" class="form-control" type="text" placeholder="CatalogNumber">
              </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
              <div class="vn-col-md-2">
                <input id="license" class="form-control" type="text" placeholder="License">
              </div>                                                          
            </div>
            
            <div class="form-group">
              <label class="col-md-2 control-label"></label>            
              <div class="vn-col-md-2">
                <input id="recordedby" class="form-control" type="text" placeholder="RecordedBy">
              </div> 
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>                             
            <div class="vn-col-md-2">
                <input id="preparations" class="form-control" type="text" placeholder="Preparations">
              </div>  
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>                             
              <div class="vn-col-md-2">
                <input id="sex" class="form-control" type="text" placeholder="Sex">
              </div> 
            <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
              <div class="vn-col-md-2">
                <input id="lifestage" class="form-control" type="text" placeholder="LifeStage">
              </div> 
            <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
                                                      
            </div>
            

        
            <div class="form-group">
              <label class="col-md-2 control-label"></label>
                <div class="vn-col-md-2">
                  <input id="continent" class="form-control" type="text" placeholder="Continent">
                </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
                <div class="vn-col-md-2">
                  <input id="country" class="form-control" type="text" placeholder="Country">
                </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
                <div class="vn-col-md-2">
                  <input id="stateprovince" class="form-control" type="text" placeholder="StateProvince">
                </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
                <div class="vn-col-md-2">
                  <input id="county" class="form-control" type="text" placeholder="County">
                </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
                <div class="vn-col-md-2">
                  <input id="locality" class="form-control" type="text" placeholder="Locality">
                </div>                
            </div>
            
            <div class="form-group">
              <label class="col-md-2 control-label"></label>
              <div class="vn-col-md-2">
                <input id="class" class="form-control" type="text" placeholder="Class">
              </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
              <div class="vn-col-md-2">
                <input id="order" class="form-control" type="text" placeholder="Order">
              </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
              <div class="vn-col-md-2">
                <input id="family" class="form-control" type="text" placeholder="Family">
              </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
              <div class="vn-col-md-2">
                <input id="genus" class="form-control" type="text" placeholder="Genus">
              </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
              <div class="vn-col-md-2">
                <input id="specificepithet" class="form-control" type="text" placeholder="SpecificEpithet">
              </div>            
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label"></label>            
              <div class="vn-col-md-2">
                <input id="startdayofyear" class="form-control" type="text" placeholder="StartDayOfYear">
              </div>
             <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>               
               <div class="vn-col-md-2">
                <input id="enddayofyear" class="form-control" type="text" placeholder="EndDayOfYear">
              </div> 
              </div>            
          </div> 
<!-- END DWC --> 
<!-- START DATES -->
        <div class="form-group">
          <label class="col-lg-2 control-label"> &nbsp; </label>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="datestart" placeholder="Year (e.g. 1941)">
          </div>
          <div id="dateto" class="col-md-0">
          	to
          </div>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="dateend" placeholder="Year (e.g. 1952)">
          </div>
           <div class="col-md-0">
                 &nbsp;&nbsp;&nbsp;
          </div>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="monthstart" placeholder="Month (e.g. 3)">
          </div>
          <div id="dateto" class="col-md-0">
          	to
          </div>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="monthend" placeholder="Month (e.g. 5)">
          </div>                            
        </div>
<!-- END DATES -->        

<!-- START DATES 
        <div class="form-group">
          <label class="col-lg-2 control-label"><a id="show-years-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="years-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a>Years from </label>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="datestart">
          </div>
          <div id="dateto" class="col-md-0">
          to
          </div>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="dateend">
          </div>                  
        </div>
        
        <div class="form-group">
          <label class="col-lg-2 control-label"><a id="show-months-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="months-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a>Months from </label>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="monthstart">
          </div>
          <div id="dateto" class="col-md-0">
          to
          </div>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="monthend">
          </div>
        </div> 
 END DATES -->      
      
      <!-- START FILTERS -->
        <div id="filters">
          <div class="form-group">
            <label class="col-lg-2 control-label"><!--<a id="show-thesefilters-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="thesefilters-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a> --> &nbsp; These filters</label>
            <div class="vncheckbox">
              <label class="vn-col-md-2-ckbx control-label">
               Is fossil <input id="fossil" type="checkbox"> 
              </label>
              <label class="vn-col-md-2-ckbx control-label">
               <a id="show-hasTissues-tip" href="http://vertnet.org/resources/help.html#t-tab3" target="_blank"><span id="hasTissues-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a>Has tissues <input id="tissue" type="checkbox">
              </label>
              <label class="vn-col-md-2-ckbx control-label">
               Has media <input id="media" type="checkbox"> 
              </label>
              <label class="vn-col-md-2-ckbx control-label">
               Has type status <input id="hastypestatus" type="checkbox"> 
              </label>
              <label class="vn-col-md-2-ckbx control-label">
                Is mappable <input id="mappable" type="checkbox"> 
              </label>
              <label class="vn-col-md-2-ckbx control-label">
                In circle on map <input id="spatialfilter" type="checkbox"> 
              </label>              
            </div>
          </div>
        </div>

        <div id="spatialsearch">
          <div>
            <div>
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
              <div class="accordion-inner">
                <div id="searchmap"></div>
              </div>
            </div>
          </div>
        </div> 
		<!-- END FILTERS -->

       <!-- START TRAITS -->
        <div id="filters">
          <div class="form-group">
            <label class="col-lg-2 control-label">&nbsp; These traits</label>
            <div class="vncheckbox">
              <label class="vn-col-md-2-ckbx control-label">
               Has length <input id="haslength" type="checkbox"> 
              </label>
              <label class="vn-col-md-2-ckbx control-label">
               Has mass <input id="hasmass" type="checkbox"> 
              </label>
              <label class="vn-col-md-2-ckbx control-label">
               Has sex <input id="hassex" type="checkbox"> 
              </label>
              <label class="vn-col-md-2-ckbx control-label">
               Has lifestage <input id="haslifestage" type="checkbox">
              </label>                           
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">&nbsp; </label>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="lengthstart" placeholder="length in mm">
          </div>
          <div id="lengthto" class="col-md-0">
          to
          </div>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="lengthend" placeholder="length in mm">
          </div>
           <div class="col-md-0">
           	&nbsp;&nbsp;&nbsp;
          </div>            
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="massstart" placeholder="mass in g">
          </div>
          <div id="massto" class="col-md-0">
          to
          </div>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="massend" placeholder="mass in g">
          </div>          
        </div>
<!-- END TRAITS -->

 
<!-- START RECORD TYPE -->
      
        <div class="form-group">
          <label class="col-lg-2 control-label"> &nbsp; Record type</label>
          <div class="col-lg-10">
            <select class="form-control" id="recordtype">
              <option value="Any type">Any type</option>
              <option>Specimen</option>
              <option>Observation</option>
              <option>Specimen or Observation</option>
            </select>
          </div>
        </div>
        
<!-- END RECORD TYPE -->


<!-- START KEYWORDS -->

        <div class="form-group">
          <label class="col-lg-2 control-label"><!--<a id="show-allTheseWords-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="allTheseWords-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a> --> &nbsp; All these words</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="allwords" placeholder="Identify records containing all of the words submitted. For exact phrase, quotation marks are required.">
          </div>
        </div>

        <!--<div class="form-group">
          <label class="col-lg-2 control-label"><a id="show-exactPhrase-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="exactPhrase-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a>Exact phrase</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="exactphrase" placeholder='"butorides virescens"'>
          </div>
        </div> -->                

        <div class="form-group">
          <label class="col-lg-2 control-label"><!--<a id="show-anyWords-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="anyWords-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a> --> &nbsp; Any of these words</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="anywords" placeholder='Identify all records that contain at least one of the words submitted. Operators OR and AND can help to focus queries.'>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label"><!--<a id="show-noneWords-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="noneWords-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a> --> &nbsp; None of these words</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="nonewords" placeholder='Exclude records by including NOT along with the word to be excluded.'>
          </div>
        </div>
<!-- END KEYWORDS --> 

        
 
          
          
          
 
        <!--<div class="form-group">
          <label class="col-lg-2 control-label"><a id="show-years-tip" href="http://www.vertnet.org/resources/advancedsearchoptionsguide.html" target="_blank"><span id="years-tip" class="infotipDisplay"><b class="glyphicon glyphicon-info-sign infotip"></b></span></a>Days ranging from</label>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="daystart" placeholder='9'>
          </div>
          <div id="dateto" class="col-md-0">
          to
          </div>
          <div class="vn-col-md-2">
            <input class="form-control" type="text" id="dayend" placeholder='15'>
          </div>
        </div> -->
                               
      </form>
      
      <div class="spacer"></div>
    </div>
  </div>
  <div class="col-lg-1">
    <button id="search-button" type="button" class="btn btn-large btn-primary">
      <span class="glyphicon glyphicon-search icon-white"></span>
    </button>
  </div>
</div>
</div>

<div style="visibility:hidden" id="spatial-search-control">
  <div class="control-group">
    <label class="checkbox">
      <input id="spatial-label" type="checkbox"> <strong>Spatial search</strong>
    </label>
  </div>
</div>

<div style="visibility:hidden" id="load-more-control">
  <button id="loadmore" type="button" class="btn btn-primary">Load more...</button>
</div>

<ul id="resultTabs" class="nav nav-tabs">
  <li class="active">
    <a id="tabletab" href="#table" data-toggle="tab">Table</a>
  </li>
  <li>
    <a id="maptab" href="#tablemap" data-toggle="tab">Map</a>
  </li>
</ul>

<div id="occ-search-tabs-content" class="tab-content">
  <div class="tab-pane fade in active" id="table">   
    <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <span class="counter"></span>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-mini btn-success dl-btn" data-toggle="button">
         <span>Download</span></button>   
		&nbsp;
      </div>
    </div>

    <div id="click-row-tip" class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Pro tip! </strong>Click on a table row to see the full occurrence details.
    </div>

    <table id="occTable" class="table table-striped table-hover search-results-hover">
      <thead>
        <tr>
          <th width="16.666666666666664%" id="idcol">Identification</th>
          <th width="16.666666666666664%" id="taxcol">Taxonomy</th>
          <th width="25%">Location</th>
          <th width="16.666666666666664%">Recorded By</th>
          <th>Sex</th>
          <th>Date</th>
          <th style="text-align:center">Map</th>
          <th style="text-align:center">Media</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    
    <div id="bottom-pager" class="row">
      <div class="col-lg-6">
        <ul class="pager load-more">
          <li class="table-pager">
            <a href="#">Load more results...</a>
          </li>
        </ul>            
      </div>
    </div>
  </div>  

  <div class="tab-pane fade" id="tablemap">
     <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <span class="counter"></span>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-mini btn-success dl-btn" data-toggle="button">
         <span class="glyphicon glyphicon-download"></span></button>   
      </div>
    </div>
    <div id="resultmap"></div>
  </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 id="bigModalLabel">Download >10k records</h1>
        <h1 id="smallModalLabel">Download <span id="reccount"></span> records</h1>
      </div>
      <div id="confirmation" class="alert alert-success">Thanks! Your download request was received! We'll email <span id="dl-email"></span> as soon as it's ready.</div>
      <div id="queue" class="modal-body">
        <p id="queue-msg" class="lead">Your search results are big enough that we'll have to prepare them for download. Name your result set, give us your email, and we'll send you a download link to the file containing your search results as soon as it's ready.</p>
        <p id="instant-msg" class="lead">Your search results are ready for download right now. Just enter a filename and click the download button.</p>
        <form class="form-horizontal" role="form">
          <div id="name" class="form-group">
            <label class="col-lg-2 control-label">Filename</label>
            <div class="col-lg-10">
              <input id="nameval" type="text" class="form-control" id="inputEmail1" required>
            </div>
          </div>
          <div id="email" class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input id="emailval" type="email" class="form-control" id="inputEmail1" required>
            </div>
          </div>          
        </form>
      </div>
      <div class="modal-footer">
        <button id="submit-download-btn" class="btn btn-success">Download</button>
      </div>
    </div>
  </div>
</div>