<div class="container">

<div>
    <br><i><div id="timespan"></div></i>
    <table><tr><td width="50%">
    <div id="numeric-stats" class="stat-panel"><table>
    <tr><td>Number of queries: </td><td> <div id="queries"></div> </td></tr>
    <tr><td>Number of records queried: </td><td><div id="qrecords"></td></tr>
    <tr><td>Number of downloads: </td><td><div id="downloads"></td></tr>
    <tr><td>Number of records downloaded: </td><td><div id="drecords"></td></tr>
    </table></div>
    </td><td>
    <div class="stat-panel" id="download_chart_div" style="width: 500px; height: 300px;"></div>
    </td></tr><tr><td>
    <div class="stat-panel" id="explInstPie_chart_div" style="width: 500px; height: 500px;"></div>
    </td><td>
    <div class="stat-panel" id="explClassPie_chart_div" style="width: 500px; height: 500px;"></div>
    </td></tr></table>
</div>

</div>
