<div class="close-cancel-icon"></div>
<div class="modal-inner">
  <div class="menu-overlay"></div>
  <span class="box-heading red">
    <span id="box_heading_text"></span>
    <span id="box_heading_subtext" class="box-heading-subtitle"></span>
  </span>
  <p class="checkout-thanks"></p>
  <form method="POST" action="/checkout" enctype="multipart/form-data">
    <table class="modal-table">
      <tbody>
        <tr>
          <td style="width: 127px;">
            Fund Amount
          </td>
          <td>
            <span id="checkout_total" class="value currency"></span>
          </td>
        </tr>
        <tr id="opportunity">
          <td style="width: 127px;">
            Chosen Opportunity
          </td>
          <td>
            <p id="opportunity_about" class="value"></p>
            <p id="opportunity_desc" class="detail"></p>
          </td>
        </tr>
      </tbody>
    </table>
    <dl class="form">
      <div class="form-section pad">
        <div class="on-file" id="card_on_file">
          <span></span>
          <a href="javascript:;" class="change-card">Change card</a>
        </div>
        <div class="data-capture">
          <table>
            <tr>
              <td>
                <dt>
                  <label for="card_number">Credit Card Number:</label>
                </dt>
                <dd>
                  <input type="text" name="card_number" autocomplete="off"
                      class="undered required" placeholder="xxxx-xxxx-xxxx-xxxx" value="" />
                </dd>
              </td>
              <td>
                <dt>
                  <label for="expiration_month">Expiration Month:</label>
                </dt>
                <dd>
                  <input type="text" name="expiration_month" autocomplete="off"
                      class="undered required" placeholder="mm" value="" />
                </dd>
              </td>
              <td>
                <dt>
                  <label for="expiration_year">Expiration Year:</label>
                </dt>
                <dd>
                  <input type="text" name="expiration_year" autocomplete="off"
                      class="undered required" placeholder="yyyy" value="" />
                </dd>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <dt>
                  <label for="name">Card Holder's Name:</label>
                </dt>
                <dd>
                  <input type="text" name="name" autocomplete="off" 
                      class="undered required" placeholder="Full name" value="" />
                </dd>
              </td>
              <td>
                <dt>
                  <label for="zip">Billing ZIP or Postal Code:</label>
                </dt>
                <dd>
                  <input type="text" name="zip" autocomplete="off"
                      class="undered required" placeholder="xxxxx" value="" />
                </dd>
              </td>
              <td>
                <dt>
                  <label for="security_code">Security Code (CVV):</label>
                </dt>
                <dd>
                  <input type="text" name="security_code" autocomplete="off" 
                      class="undered required" placeholder="xxx" value="" />
                </dd>
              </td>
            </tr>
          </table>
          <a href="javascript:;" class="change-card cancel-change">Cancel</a>
        </div>
      </div>
    </dl>
    <hr>
    <button type="submit" class="bar-button modal-button checkout-button">
      <span>Complete Transaction</span>
      <i class="icon-right"></i>
    </button>
    <a href="" class="button bar-button done-button">
      <i class="icon-left"></i>
      <span>Go back</span>
    </a>
  </form>
  <div class="pay-by-balanced">
    <a href="https://www.balancedpayments.com/" target="_blank">
      <img src="{{ ''|static }}/img/balanced.png" width="204" height="52">
    </a>
  </div>
</div>
