<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a id="home" class="navbar-brand"  href="/">
      VertNet <sup><small class="text-muted">BETA</small></sup>
    </a>
    <div class="nav-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="">
          <a id="search" href="/search">Search</a>
        </li>
        <li class="">
          <a id="publishers" href="/publishers">Publishers</a>
        </li>       
        <li class="">
          <a id="about" href="/about">About</a>
        </li>
        <li id="feedback-nav">
          <a target="_blank" href="http://form.jotform.us/form/31397097595166">Feedback <span id="feedback-nav-icon" class="glyphicon glyphicon-share-alt"></span>
          </a>
        </li>              
      </ul>
    </div>
  </div>
</div>
