<div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="home">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="dropdown1">
          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
        </div>
        <div class="tab-pane fade active in" id="dropdown2">
          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
        </div>
      </div>

<div class="tabbable tabs-left">
  <ul id="darwinCoreTabs" class="nav nav-tabs">
    <li class="active">
      <a id="all" href="#all-tab" data-toggle="tab">All Terms</a>
    </li>  
    <% if (!_.isEmpty(this.model.reclevel())) { %>
    <li class="">
      <a href="#reclevel-tab" data-toggle="tab">RecordLevel</a>
    </li>
    <% } %>

    <% if (!_.isEmpty(this.model.occ())) { %>
    <li class="">
      <a href="#occ-tab" data-toggle="tab">Occurrence</a>
    </li>
    <% } %>            

    <% if (!_.isEmpty(this.model.event())) { %>
    <li class="">
      <a href="#event-tab" data-toggle="tab">Event</a>
    </li>
    <% } %>
    
    <% if (!_.isEmpty(this.model.loc())) { %>
    <li class="">
      <a id="loc" href="#location" data-toggle="tab">Location</a>
    </li>
    <% } %>
    
    <% if (!_.isEmpty(this.model.geo())) { %>
    <li class="">
      <a href="#geo-tab" data-toggle="tab">GeologicalContext</a>
    </li>
    <% } %>
    
    <% if (!_.isEmpty(this.model.iden())) { %>
    <li class="">
      <a href="#id-tab" data-toggle="tab">Identification</a>
    </li>
    <% } %>
    
    <% if (!_.isEmpty(this.model.taxon())) { %>
    <li class="">
      <a href="#taxon-tab" data-toggle="tab">Taxon</a>
    </li>
    <% } %>
  </ul>

  <div class="tab-content">

    <!-- Location tab.  -->
    <div class="tab-pane" id="location">
      <!-- <div id="occ-detail-map" class="occ-detail-map"></div> -->
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_LOCATION, _.bind(function(key) { 
          var val = this.model.loc()[key]; 
          if (val) { %>
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a target='_blank' href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>


    <!-- Record level tab. -->
    <div class="tab-pane" id="reclevel-tab">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_RECLEVEL, _.bind(function(key) { 
          var val = this.model.reclevel()[key]; 
          if (val) { %>
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a target='_blank' href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- Occurrence tab.  -->
    <div class="tab-pane" id="occ-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_OCC, _.bind(function(key) { 
          var val = this.model.occ()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a target='_blank' href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- Event tab.  -->
    <div class="tab-pane" id="event-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_EVENT, _.bind(function(key) { 
          var val = this.model.event()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a target='_blank' href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>          
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- GeoContext tab.  -->
    <div class="tab-pane" id="geo-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_GEO, _.bind(function(key) { 
          var val = this.model.geo()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a target='_blank' href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- Identification tab.  -->
    <div class="tab-pane" id="id-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_ID, _.bind(function(key) { 
          var val = this.model.iden()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a target='_blank' href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- Taxon tab.  -->
    <div class="tab-pane" id="taxon-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_TAXON, _.bind(function(key) { 
          var val = this.model.taxon()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a target='_blank' href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- All tab.  -->
    <div class="tab-pane active" id="all-tab">
       <div id="occ-detail-map" class="occ-detail-map"></div>
       <%if (this.model.get('associatedmedia')) { 
          var link = this.model.get('associatedmedia'); %>
          <p class="lead"><span id="has-media-icon" class="glyphicon glyphicon-film"></span> Media associated with this occurrence: <a target='_blank' href="<%= link %>">Click here</a></p>
       <% } %>
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_ALL(), _.bind(function(key) { 
          var val = this.model.all()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a target='_blank' href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

  </div>
</div>
