<div class="tabbable tabs-left">
  <ul id="darwinCoreTabs" class="nav nav-tabs">
    <li class="active">
      <a href="#all-tab" data-toggle="tab">All Terms</a>
    </li>  
    <% if (!_.isEmpty(this.model.reclevel())) { %>
    <li class="">
      <a href="#reclevel-tab" data-toggle="tab">RecordLevel</a>
    </li>
    <% } %>

    <% if (!_.isEmpty(this.model.occ())) { %>
    <li class="">
      <a href="#occ-tab" data-toggle="tab">Occurrence</a>
    </li>
    <% } %>            

    <% if (!_.isEmpty(this.model.event())) { %>
    <li class="">
      <a href="#event-tab" data-toggle="tab">Event</a>
    </li>
    <% } %>
    
    <% if (!_.isEmpty(this.model.loc())) { %>
    <li class="">
      <a id="loc" href="#location" data-toggle="tab">Location</a>
    </li>
    <% } %>
    
    <% if (!_.isEmpty(this.model.geo())) { %>
    <li class="">
      <a href="#geo-tab" data-toggle="tab">GeologicalContext</a>
    </li>
    <% } %>
    
    <% if (!_.isEmpty(this.model.iden())) { %>
    <li class="">
      <a href="#id-tab" data-toggle="tab">Identification</a>
    </li>
    <% } %>
    
    <% if (!_.isEmpty(this.model.taxon())) { %>
    <li class="">
      <a href="#taxon-tab" data-toggle="tab">Taxon</a>
    </li>
    <% } %>
  </ul>

  <div class="tab-content">

    <!-- Location tab.  -->
    <div class="tab-pane" id="location">
      <div id="occ-detail-map" class="occ-detail-map">
      </div>
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_LOCATION, _.bind(function(key) { 
          var val = this.model.loc()[key]; 
          if (val) { %>
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>


    <!-- Record level tab. -->
    <div class="tab-pane" id="reclevel-tab">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_RECLEVEL, _.bind(function(key) { 
          var val = this.model.reclevel()[key]; 
          if (val) { %>
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- Occurrence tab.  -->
    <div class="tab-pane" id="occ-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_OCC, _.bind(function(key) { 
          var val = this.model.occ()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- Event tab.  -->
    <div class="tab-pane" id="event-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_EVENT, _.bind(function(key) { 
          var val = this.model.event()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>          
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- GeoContext tab.  -->
    <div class="tab-pane" id="geo-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_GEO, _.bind(function(key) { 
          var val = this.model.geo()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- Identification tab.  -->
    <div class="tab-pane" id="id-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_ID, _.bind(function(key) { 
          var val = this.model.iden()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- Taxon tab.  -->
    <div class="tab-pane" id="taxon-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_TAXON, _.bind(function(key) { 
          var val = this.model.taxon()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

    <!-- All tab.  -->
    <div class="tab-pane active" id="all-tab">
       <table class="table table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(this.model.DWC_ALL(), _.bind(function(key) { 
          var val = this.model.all()[key]; 
          if (val) { %>          
          <tr>
            <td><%= key %></td>
            <td id="<%= key %>">
              <% if (val.startsWith('http')) { %>
                <a href="<%= val %>"><%= val %></a>
              <% } else { %>
                <%= val %>
              <% } %>
            </td>
          </tr>
          <% } %>
        <% }, this)); %>
        </tbody>
      </table> 
    </div>

  </div>
</div>
