<div id="occ-detail-content" class="container">
  <!-- Title -->
  <div class="page-header">
    <h1>Occurrence <small>detail</small></h1>
  </div>

  <!-- Rights -->
  <!-- <div id="rights" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Access rights - <%= this.model.get('orgname') %></h4>
    <% if (this.model.get('emlrights')) { %>
      <%= this.model.getRights() %>
    <% } else { %>
      Please contact the <a href="<%= this.model.get('url') %>">data publisher</a> for details concerning the use of these data.
    <% } %>
  </div> -->
  
  <!-- Top level tabs links -->
  <ul id="detailTabs" class="nav nav-tabs">
    <li class="active">
      <a id="dwc" href="#darwincore" data-toggle="tab">Darwin Core</a>
    </li>
    <li>
      <a id="source" href="#datasource" data-toggle="tab">Source & Rights</a>
    </li>
  </ul>

  <!-- Top level tab content -->
  <div id="detailTabContent" class="tab-content">
    <!-- Darwin core tab. -->
    <div id="darwincore" class="tab-pane active"> 
      <!-- DarwinCoreTab.html -->
    </div>
      <!-- Data source tab -->
    <div id="datasource" class="tab-pane"> 
      <div class="lead">Primary data source, access rights, and citations. </div>
      <dl class="">
        <dt>Rights</dt>
        <dd><% if (this.model.get('emlrights')) { %>
              <%= this.model.getRights() %>
            <% } else { %>
              Please contact the <a href="<%= this.model.get('url') %>">data publisher</a> for details concerning the use of these data.
            <% } %></dd>
        <dt>Citation</dt>
        <dd>(Coming soon.)</dd>
        <dt>Institution</dt>
        <dd><%= this.model.get('orgname') %></dd>
        <dt>Resource</dt>
        <dd><%= this.model.get('title') %></dd>
        <dt>Contact</dt>
        <dd>
            <%= this.model.get('contact') %> <<a href="mailto:#"><%= this.model.get('email') %></a>>=
        </dd>
        <dt>Published</dt>
        <dd><%= this.model.get('pubdate') %></dd>
        <dt>URL</dt>
        <dd><a href="<%= this.model.get('url') %>"><%= this.model.get('url') %></a></dd>
      </dl>
    </div>

  </div>
</div>