{% extends "index.html" %}

{% block base %}
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">VertNet</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./index.html">About</a>
              </li>
              <li class="">
                <a href="./api">Explore</a>
              </li>
              <li class="">
                <a href="./contact">Contact</a>
              </li>
              <li class="">
                <a href="./download">Download</a>
              </li>
              <li class="">
                <a href="./join">Join</a>
              </li>
              <li class="">
                <a href="./resources">Developers</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Title -->
    <div class="jumbotron masthead">
      <div class="container">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span5">
              <h1>VertNet</h1>
              <p>Free and open access to millions of records from hundreds of publishers worldwide.</p>
            </div>
            <div class="span6">
          <div id="myCarousel" class="carousel stats slide">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1" class=""></li>
              <li data-target="#myCarousel" data-slide-to="2" class=""></li>
              <li data-target="#myCarousel" data-slide-to="3" class=""></li>
              <li data-target="#myCarousel" data-slide-to="4" class=""></li>
              <li data-target="#myCarousel" data-slide-to="5" class=""></li>
              <li data-target="#myCarousel" data-slide-to="6" class=""></li>
              <li data-target="#myCarousel" data-slide-to="7" class=""></li>
              <li data-target="#myCarousel" data-slide-to="8" class=""></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
              <img src="../assets/img/Records.png" alt="">  
                <div class="carousel-caption">
                  <h1 class="stats">1,606,374 total records</h1>
                  <!-- <p>in the whole network, shared by all the participating institutions.</p> -->
                </div>
              </div>
              <div class="item">
                <img src="../assets/img/Institutions.jpg" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">20 participating institutions</h1>
                  <!-- <p>that have agreed to participate in the VertNet network.</p> -->
                </div>
              </div>
              <div class="item">
                <img src="../assets/img/Species.jpg" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">50,552 total species</h1>
                </div>
              </div>
              <div class="item">
                <img src="../assets/img/WorldCountries.png" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">505 countries represented</h1>
                </div>
              </div>
              <div class="item">
                <img src="../assets/img/Collections.jpg" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">30 collections</h1>
                </div>
              </div>
              <div class="item">
                <img src="../assets/img/Classes.jpg" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">20 taxonomic classes</h1>
                </div>
              </div>
              <div class="item">
                <img src="../assets/img/Search.png" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">1,000,000 records downloaded</h1>
                </div>
              </div>
              <div class="item">
                <img src="../assets/img/NewCollections.png" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">10 new datasets</h1>
                </div>
              </div>
              <div class="item">
                <img src="../assets/img/NewRecords.png" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">5,000 new records</h1>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>
      </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Map -->
    <div class="bs-docs-social">
       <div class="mapContainer" id="mapContainer"></div>
    </div>

    <!-- Links -->
    <div class="container">
      <div class="marketing">
        <div class="row-fluid">
          <div class="span4">
            <h2>Search everything</h2>
            <p>Search VertNet data using Darwin Core terms and find exactly what you want. <p>
              <a class="btn btn-primary btn-large" href="#">Search &raquo;</a></p></p>
          </div>
          <div class="span4">
            <h2>Join the community</h2>
            <p>Join the VertNet community of data publishers, scientists, and researchers.  <p> 
              <a class="btn btn-primary btn-large" href="#">Join &raquo;</a></p></p>
          </div>
          <div class="span4">
            <h2>Easy downloads</h2>
            <p>Download all or parts of VertNet in easy to process Darwin Core CSV text files.</p>
            <a class="btn btn-primary btn-large" href="#">Download &raquo;</a></p></p>
          </div>
        </div>
        <hr class="soften">
      </div>
    </div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>VertNet 2013</p>
        <ul class="footer-links">
          <li><a href="http://blog.vertnet.com">Blog</a></li>
          <li class="muted">&middot;</li>
          <li><a href="http://vertnet.org">Project</a></li>
        </ul>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script src="assets/js/bootstrap-affix.js"></script>

    <script src="assets/js/holder/holder.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/application.js"></script>
    
    <script src="assets/js/vertnet/libs/store/store.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/fat/bean/master/bean.js"></script>
    <script data-main="assets/js/vertnet/main" src="assets/js/vertnet/libs/require/require.js"></script>
{% endblock %}







