{% extends "index.html" %}

{% block base %}
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">VertNet</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./index.html">About</a>
              </li>
              <li class="">
                <a href="./publishers">Publishers</a>
              </li>
              <li class="">
                <a href="./contact">Contact</a>
              </li>
              <li class="">
                <a href="./api">API</a>
              </li>
              <li class="">
                <a href="./search">Search</a>
              </li>
              <li class="">
                <a href="./join">Join</a>
              </li>
              <li class="">
                <a href="./download">Download</a>
              </li>
              <li class="">
                <a href="./stats">Statistics</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Title -->
    <div class="jumbotron masthead">
      <div class="container">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span7">
              <h1>VertNet</h1>
              <p>Free and open data access to millions of vertebrate records from hundreds of publishers worldwide.</p>
            </div>
            <div class="span4">
              <h3>Statistics Placeholder</h3>    
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Map -->
    <div class="bs-docs-social">
       <div class="mapContainer" id="mapContainer"></div>
    </div>

    <!-- Links -->
    <div class="container">
      <div class="marketing">
        <div class="row-fluid">
          <div class="span4">
            <h2>Search everything</h2>
            <p>Search VertNet data using Darwin Core terms and find exactly what you want. <p>
              <a class="btn btn-primary btn-large" href="#">Search &raquo;</a></p></p>
          </div>
          <div class="span4">
            <h2>Join the community</h2>
            <p>Join the VertNet community of data publishers, scientists, and researchers.  <p> 
              <a class="btn btn-primary btn-large" href="#">Join &raquo;</a></p></p>
          </div>
          <div class="span4">
            <h2>Easy downloads</h2>
            <p>Download all or parts of VertNet in easy to process Darwin Core CSV text files.</p>
            <a class="btn btn-primary btn-large" href="#">Download &raquo;</a></p></p>
          </div>
        </div>
        <hr class="soften">
      </div>
    </div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>VertNet 2013</p>
        <ul class="footer-links">
          <li><a href="http://blog.vertnet.com">Blog</a></li>
          <li class="muted">&middot;</li>
          <li><a href="http://vertnet.org">Project</a></li>
        </ul>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script src="assets/js/bootstrap-affix.js"></script>

    <script src="assets/js/holder/holder.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/application.js"></script>
    
    <script src="assets/js/vertnet/libs/store/store.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/fat/bean/master/bean.js"></script>
    <script data-main="assets/js/vertnet/main" src="assets/js/vertnet/libs/require/require.js"></script>
{% endblock %}







