{% extends "base.html" %}

{% set type = cls or shell.kind.lower() %}
{% if type == 'campaign' %}
  {% if ended and success %}
    {% set outcome = 'successful' %}
  {% elif ended and not success %}
    {% set outcome = 'failed' %}
  {% endif %}
  {% set label = 'crowdfunding ' + type %}
{% else %}
  {% set label = type %}
{% endif %}

{% block content %}
  <div class="container">
    {% include "partials/messages.html" %}
    <div class="shell-header">
      <ul class="shell-buttons">
        {% if person %}
          <div class="menu-overlay"></div>
          <li id="watch_state" class="shell-button">
            <span class="sticky-button short">
              <i class="icon-eye left-side"></i>
              <span class="sticky-button-text">Watch</span>
              <i class="icon-down-dir right-side"></i>
              <div class="vertical-split"></div>
            </span>
            <div class="sticky-menu short">
              <a href="#" class="sticky-menu-close">
                <span class="remove-close-icon"></span>
              </a>
              <div class="sticky-menu-title">Notification status</div>
              <ul class="sticky-menu-items">
                <li class="sticky-menu-item">
                  <label>
                    <input type="radio" name="shell" value="0" />
                    <h4>
                      <i class="icon-ok"></i>
                      Not watching
                    </h4>
                    <p>You will only receive notifications when you participate or are mentioned.</p>
                  </label>
                </li>
                <li class="sticky-menu-item">
                  <label>
                    <input type="radio" name="shell" value="1" />
                    <h4>
                      <i class="icon-ok"></i>
                      Watching
                    </h4>
                    <p>You will receive all notifications for this repository.</p>
                  </label>
                </li>
                <li class="sticky-menu-item">
                  <label>
                    <input type="radio" name="shell" value="2" />
                    <h4>
                      <i class="icon-ok"></i>
                      Ignored
                    </h4>
                    <p>You will not receive notifications for this repository.</p>
                  </label>
                </li>
              </ul>
            </div>
          </li>
        {% endif %}
      </ul>
      {% if shell.public %}
        <div class="shell-breadcrum {{ type }}-type">
          <span class="shell-privacy">Public</span>
      {% else %}
        <div class="shell-breadcrum private">
          <span class="shell-privacy">Private</span>
      {% endif %}
        {% if outcome %}
          <span class="shell-outcome {{ outcome }}">
            {{ outcome }}
          </span>
        {% endif %}
        {{ label }}
      </div>
    </div>
    <div class="shell-sidebar">
      <div class="shell-campaign-info">
        {% if not ended %}
          <span class="shell-metric green">
            {{ (shell.total_cents/100)|currency }}
          </span>
          <span class="shell-metric-label">of</span>
          <span class="shell-metric">
            {{ shell.goal_dollars|currency }}
          </span>
          <span class="shell-metric-label">have been raised with</span>
          <span class="shell-metric">
            {{ shell.contributor_count }}
          </span>
          <span class="shell-metric-label">
            {% if shell.contributor_count == 1 %}
              funder and
            {% else %}
              funders and
            {% endif %}
          </span>
          <span class="shell-metric shell-deadline">?</span>
          <span class="shell-metric-label shell-deadline-label">days to go.</span>
          <span class="shell-metric shell-percent">?</span>
          <span class="shell-metric-label">complete.</span>
          <div class="shell-complete">
            <div class="shell-complete-inner"></div>
          </div>
          <span class="shell-sidebar-subnote shell-date"></span>
        {% else %}
          {% if not success %}
            <span class="shell-metric green">
              {{ (shell.total_cents/100)|currency }}
            </span>
            <span class="shell-metric-label">of</span>
            <span class="shell-metric">
              {{ shell.goal_dollars|currency }}
            </span>
            <span class="shell-metric-label">was offered from</span>
            <span class="shell-metric">
              {{ shell.contributor_count }}
            </span>
            <span class="shell-metric-label">
              {% if shell.contributor_count == 1 %}
                funder.
              {% else %}
                funders.
              {% endif %}
            </span>
            <span class="shell-metric-label">This campaign ended on</span>
            <span class="shell-metric">{{ deadline }}</span><span class="shell-metric-label">.</span>
          {% else %}
            <span class="shell-metric green">
              {{ (shell.total_cents/100)|currency }}
            </span>
            <span class="shell-metric-label">of</span>
            <span class="shell-metric">
              {{ shell.goal_dollars|currency }}
            </span>
            <span class="shell-metric-label">was raised from</span>
            <span class="shell-metric">
              {{ shell.contributor_count }}
            </span>
            <span class="shell-metric-label">
              {% if shell.contributor_count == 1 %}
                funder.
              {% else %}
                funders.
              {% endif %}
            </span>
            <span class="shell-metric-label">This campaign ended on</span>
            <span class="shell-metric">{{ deadline }}</span><span class="shell-metric-label">.</span>
          {% endif %}  
        {% endif %}
      </div>
      <ul class="shell-contributors">
        <span class="shell-metric-label">Contributors:</span>
        {% if shell.contributors|length > 0 %}
          {% for c in shell.contributors %}
            <li class="shell-contributor">
              <a href="/{{ c.username }}">
                {% if c.avatar_url %}
                  <img src="{{ c.avatar_url }}" width="48" height="48" />
                {% else %}
                  <img src="{{ ''|static }}/img/avatar_48.png" width="48" height="48" />
                {% endif %}
              </a>
            </li>
          {% endfor %}
        {% else %}
          {% if ended %}
            <span class="empty-feed">None.</span>
          {% else %}
            <span class="empty-feed">None, so far.</span>
          {% endif %}
        {% endif %}
      </ul>
      {% if person and not ended %}
        <p class="shell-sidebar-note">
          Make a contribution to <em>{{ shell.about }}</em>. Any amount helps.
        </p>
        <form style="position:relative;" method="POST" action="/{{ shell.location }}/fund" enctype="multipart/form-data">
          <span class="prepend-input">$</span>
          <input type="text" name="amount" class="undered required" id="fund-input"
              placeholder="1 or more." autocomplete="off" />
        </form>
      {% elif not ended %}
        <p class="shell-sidebar-note">
          Howdy, stranger. Please <a href="/login">Login or signup</a> to make a contribution to <em>{{ shell.about }}</em>. Any amount helps.
        </p>
      {% endif %}
      {% if opportunities|length > 0 %}
        <span class="or-bar"><span>
          {% if person and not ended %}
            Or Choose an Opportunity
          {% elif ended %}
            Opportunities
          {% else %}
            Available Opportunities
          {% endif %}
        </span></span>
      {% endif %}
      <div id="opportunities" data-models="{{ opportunities|json }}"></div>
    </div>
    <div class="shell-content">
      {% if owner.avatar_url %}
        <img src="{{ owner.avatar_url }}" class="shell-title-avatar" width="48" height="48" />  
      {% else %}
        <img src="{{ ''|static }}/img/avatar_48.png" class="shell-title-avatar" width="48" height="48" />  
      {% endif %}
      <h3 class="shell-title">
        {{ shell.about }}
        <ul class="shell-info">
          <li class="person">
            <a href="/{{ owner.username }}">
              {{ owner.name }}
            </a>
          </li>
          <!-- {% if shell.location %}
            <li class="location">
              {{ shell.location }}
            </li>
          {% endif %}
          {% if shell.tags|length > 0 %}
            <li class="tag">
              {% for tag in shell.tags %}
                {% if tag != shell.tags[shell.tags|length - 1] %}
                  {{ tag }},
                {% else %}
                  {{ tag }}
                {% endif %}
              {% endfor %}
            </li>
          {% endif %} -->
        </ul>
      </h3>
      {% if shell.video_url %}
        <div class="shell-video">
          <iframe src="{{ shell.video_url }}?api=1" width="500" height="281"
              frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      {% endif %}
      <div class="shell-wall">
        <div id="wall" data-models="{{ comments|json }}" data-from="{{ parent|json }}"></div>
        {% include "partials/input.html" %}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endblock %}
