<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
   </button>
   <a class="navbar-brand"  href="/">VertNet <sup><small class="text-muted">BETA</small></sup></a>
   <div class="nav-collapse collapse">
     <ul class="nav navbar-nav">
      <li class="">
       <a href="/search/occurrences">Search</a>
     </li>
     <li class="">
       <a href="/publishers">Publishers</a>
     </li>				
     <li class="">
       <a href="/about">About</a>
     </li>
     <li id="feedback-nav">
       <a target="_blank" href="http://form.jotform.us/form/31397097595166">Feedback <span id="feedback-nav-icon" class="glyphicon glyphicon-share-alt"></span></a>
     </li>              
   </ul>
  </div>
  </div>
</div>
