{% extends "base.html" %}
{% block content %}
<!-- Title -->
<div class="jumbotron masthead">
  <div class="container">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>VertNet portal beta version 0.0.1</strong> - We release early and often, and this is a very limited release! We are testing this release with only 5 collections (~ 100K records total) from our list of 388 collections. Enjoy this early look at what we're building by experimenting with our search feature. Please expect bugs and submit feedback to help us make the portal a great tool for the community!
    </div>
    <!-- <div class="container-fluid"> -->
      <div class="row-fluid">
        <div class="span7">
          <h1>VertNet</h1>
          <p>Free and open access to millions of records from hundreds of publishers around the world.</p>
        </div>
        <div class="span5">
          <div id="myCarousel" class="carousel stats slide">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1" class=""></li>
              <li data-target="#myCarousel" data-slide-to="2" class=""></li>
              <li data-target="#myCarousel" data-slide-to="3" class=""></li>
              <li data-target="#myCarousel" data-slide-to="4" class=""></li>
              <li data-target="#myCarousel" data-slide-to="5" class=""></li>
<!--               <li data-target="#myCarousel" data-slide-to="6" class=""></li>
              <li data-target="#myCarousel" data-slide-to="7" class=""></li>
              <li data-target="#myCarousel" data-slide-to="8" class=""></li> -->
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img src="/img/Institutions.jpg" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">100,384 total records</h1>
                  <!-- <p>in the whole network, shared by all the participating institutions.</p> -->
                </div>
              </div>
              <div class="item">
                <img src="/img/Species.jpg" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">5 participating institutions</h1>
                  <!-- <p>that have agreed to participate in the VertNet network.</p> -->
                </div>
              </div>
              <div class="item">
                <img src="img/Records.png" alt="">  
                <div class="carousel-caption">
                  <h1 class="stats">7,705 total species</h1>
                </div>
              </div>
              <div class="item">
                <img src="/img/WorldCountries.png" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">129 countries represented</h1>
                </div>
              </div>
              <div class="item">
                <img src="/img/Collections.jpg" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">9 collections</h1>
                </div>
              </div>
              <div class="item">
                <img src="/img/Classes.jpg" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">11 taxonomic classes</h1>
                </div>
              </div>
<!--               <div class="item">
                <img src="/img/Search.png" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">1,000,000 records downloaded</h1>
                </div>
              </div>
              <div class="item">
                <img src="/img/NewCollections.png" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">10 new datasets</h1>
                </div>
              </div>
              <div class="item">
                <img src="/img/NewRecords.png" alt="">
                <div class="carousel-caption">
                  <h1 class="stats">5,000 new records</h1>
                </div>
              </div> -->
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>

<!-- Map -->
<div class="bs-docs-social">
 <div class="mapContainer" id="mapContainer"></div>
</div>

<!-- Links -->
<!-- <div class="container">
  <div class="marketing">
    <div class="row-fluid">
      <div class="span4">
        <h2>Search everything</h2>
        <p>Search VertNet data using Darwin Core terms and find exactly what you want. <p>
          <a class="btn btn-primary btn-large" href="#">Search &raquo;</a></p></p>
        </div>
        <div class="span4">
          <h2>Join the community</h2>
          <p>Join the VertNet community of data publishers, scientists, and researchers.  <p> 
            <a class="btn btn-primary btn-large" href="#">Join &raquo;</a></p></p>
          </div>
          <div class="span4">
            <h2>Easy downloads</h2>
            <p>Download all or parts of VertNet in easy to process Darwin Core CSV text files.</p>
            <a class="btn btn-primary btn-large" href="#">Download &raquo;</a></p></p>
          </div>
        </div>
        <hr class="soften">
      </div>
    </div> -->
    {% endblock %}







