
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <!-- { include "partials/messages.html" }  -->
    <div class="login">
      <div class="login-center">
        <span class="box-heading">New to Hylo? Sign up.
          <span class="box-heading-subtitle">We never share user data.</span>
        </span>
        <form method="POST" action="/signup"
            enctype="multipart/form-data">
          <table>
            <tbody>
              <tr>
                <td class="section">
                  <input type="text" autocomplete="off" class="undered" 
                      name="name" placeholder="Full name ..." />
                </td>
              </tr>
              <tr>
                <td class="section">
                  <input type="text" autocomplete="off" class="undered" 
                      name="email" placeholder="Email ..." />
                </td>
              </tr>
              <tr>
                <td class="section">
                  <input type="password" autocomplete="off" class="undered" 
                      name="password" placeholder="Password ..." />
                </td>
              </tr>
              <tr>
                <td align="right">
                  <button type="submit" class="bar-button">
                    <span>Sign up for Hylo</span>
                    <i class="icon-right"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="login-left highlight">
        <span class="box-heading orange">Log in.
          <span class="box-heading-subtitle">Welcome back.</span>
        </span>
        <form method="POST" action="/auth/password"
            enctype="multipart/form-data">
          <input type="hidden" name="action" value="login" />
          <table>
            <tbody>
              <tr>
                <td class="section">
                  {% if 'username' in missing %}
                    <input type="text" autocomplete="off" class="undered input-error" 
                        name="username" placeholder="Username or email ..." value="{{ fields.username }}" />
                  {% else %}
                    <input type="text" autocomplete="off" class="undered" 
                        name="username" placeholder="Username or email ..." value="{{ fields.username }}" />
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="section">
                  {% if 'password' in missing %}
                    <input type="password" autocomplete="off" class="undered input-error" 
                        name="password" placeholder="Password ..." value="{{ fields.password }}" />
                  {% else %}
                    <input type="password" autocomplete="off" class="undered" 
                        name="password" placeholder="Password ..." value="{{ fields.password }}" />
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td align="right">
                  <button type="submit" class="bar-button">
                    <span>Log me in</span>
                    <i class="icon-right"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
