{% extends "base.html" %}

{% block content %}
  <div class="container">
    {% include "partials/messages.html" %}
    <div class="shell-sidebar"></div>
    <div class="shell-content">
      {% if shell.avatar_url %}
        <img src="{{ shell.avatar_url }}" class="shell-title-big-avatar"
            width="80" height="80" />  
      {% else %}
        <img src="{{ ''|static }}/img/avatar_48.png" class="shell-title-big-avatar"
            width="80" height="80" />  
      {% endif %}
      <h3 class="shell-title indent">
        {{ shell.name }}
        <ul class="shell-info">
          <li class="person">
            <a href="/{{ shell.username }}">
              {{ shell.username }}
            </a>
          </li>
        </ul>
      </h3>
      <p class="shell-bio">
        {{ shell.bio }}
      </p>
    </div>
    <div id="feed" data-models="{{ feed|json }}"></div>
  </div>
{% endblock %}
