{% extends "base.html" %}

{% block content %}
  <div class="container">
    {% include "partials/messages.html" %}
    <div class="profile">
      <div class="modal-inner">
        <span class="box-heading red">
          Your Profile
          <span class="box-heading-subtitle">
            Your public information. TODO: name, username, email, password.
          </span>
        </span>
        <form method="PUT" action="/settings/profile" enctype="multipart/form-data">
          <dl class="form">
            <div class="form-section pad">
              <div id="in_data_capture">
                <table>
                  
                </table>
              </div>
            </div>
          </dl>
          <span class="box-heading red">
            Your Credit Card
            <span class="box-heading-subtitle">
              An active credit card is needed to contribute to crowdfunding campaigns. Your card info is securely collected and handled by Balanced Payments.
            </span>
          </span>
          <dl class="form">
            <div class="form-section pad">
              <button class="action-button" id="add_card">Add Card</button>
              <div class="on-file" id="card_on_file">
                <span></span>
                <a href="javascript:;" class="change-card">Change card</a>
              </div>
              <div id="cc_data_capture">
                <table>
                  <tr>
                    <td>
                      <dt>
                        <label for="card_number">Credit Card Number:</label>
                      </dt>
                      <dd>
                        <input type="text" name="card_number" autocomplete="off"
                            class="undered required" placeholder="xxxx-xxxx-xxxx-xxxx" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="expiration_month">Expiration Month:</label>
                      </dt>
                      <dd>
                        <input type="text" name="expiration_month" autocomplete="off"
                            class="undered required" placeholder="mm" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="expiration_year">Expiration Year:</label>
                      </dt>
                      <dd>
                        <input type="text" name="expiration_year" autocomplete="off"
                            class="undered required" placeholder="yyyy" value="" />
                      </dd>
                    </td>
                  </tr>
                </table>
                <table>
                  <tr>
                    <td>
                      <dt>
                        <label for="name">Card Holder's Name:</label>
                      </dt>
                      <dd>
                        <input type="text" name="name" autocomplete="off"
                            class="undered required" placeholder="Full name" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="zip">ZIP or Postal Code:</label>
                      </dt>
                      <dd>
                        <input type="text" name="zip" autocomplete="off"
                            class="undered required" placeholder="xxxxx" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="security_code">Security Code (CVV):</label>
                      </dt>
                      <dd>
                        <input type="text" name="security_code" autocomplete="off"
                            class="undered required" placeholder="xxx" value="" />
                      </dd>
                    </td>
                  </tr>
                </table>
                <a href="javascript:;" class="change-card cancel-change">Cancel</a>
              </div>
            </div>
          </dl>
          <span class="box-heading red">
            Your Bank Account
            <span class="box-heading-subtitle">
              An active bank account is needed to cashout crowdfunding campaigns. Your account info is securely collected and handled by Balanced Payments.
            </span>
          </span>
          <dl class="form">
            <div class="form-section pad">
              <button class="action-button" id="add_account">Add Account</button>
              <div class="on-file" id="ba_on_file">
                <span></span>
                <a href="javascript:;" class="change-account">Change account</a>
              </div>
              <div id="ba_data_capture">
                <table>
                  <tr>
                    <td>
                      <dt>
                        <label for="ba_name">Account Holder's Name:</label>
                      </dt>
                      <dd>
                        <input type="text" name="ba_name" autocomplete="off" 
                            class="undered required" placeholder="Full name" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="account_number">Account Number:</label>
                      </dt>
                      <dd>
                        <input type="text" name="account_number" autocomplete="off" 
                            class="undered required" placeholder="xxxxxxxxxx" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="bank_code">Routing Number:</label>
                      </dt>
                      <dd>
                        <input type="text" name="bank_code" autocomplete="off" 
                            class="undered required" placeholder="xxxxxxxxx" value="" />
                      </dd>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <dt>
                        <label for="street_address">Street Address:</label>
                      </dt>
                      <dd>
                        <input type="text" name="street_address" autocomplete="off"
                            class="undered required merchant" placeholder="123 Main St Apt 45" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="city">City:</label>
                      </dt>
                      <dd>
                        <input type="text" name="city" autocomplete="off" 
                            class="undered required merchant" placeholder="Oakland" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="state">State:</label>
                      </dt>
                      <dd>
                        <input type="text" name="state" autocomplete="off"
                            class="undered required merchant" placeholder="CA" value="" />
                      </dd>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <dt>
                        <label for="postal_code">ZIP or Postal Code:</label>
                      </dt>
                      <dd>
                        <input type="text" name="postal_code" autocomplete="off"
                            class="undered required merchant" placeholder="xxxxx" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="phone_number">Phone Number:</label>
                      </dt>
                      <dd>
                        <input type="text" name="phone_number" autocomplete="off"
                            class="undered required merchant" placeholder="xxxxxxxxxx" value="" />
                      </dd>
                    </td>
                    <td>
                      <dt>
                        <label for="dob">Date of Birth:</label>
                      </dt>
                      <dd>
                        <input type="text" name="dob" autocomplete="off"
                            class="undered required merchant" placeholder="yyyy-mm-dd" value="" />
                      </dd>
                    </td>
                  </tr>
                </table>
                <input type="hidden" name="type" class="merchant" value="person" />
                <a href="javascript:;" class="change-account cancel-change">Cancel</a>
              </div>
            </div>
          </dl>
          <hr>
          <button type="submit" class="bar-button modal-button save-button">
            <span>Save</span>
            <i class="icon-right"></i>
          </button>
        </form>
        <div class="pay-by-balanced">
          <a href="https://www.balancedpayments.com/" target="_blank">
            <img src="{{ ''|static }}/img/balanced.png" width="204" height="52">
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
