
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <!-- { include "partials/messages.html" } -->
    <div class="signup-wrap">
      <div class="signup highlight">
        <span class="box-heading orange">Sign up for Hylo.
          <span class="box-heading-subtitle">You're one step away.</span>
        </span>
        <form method="POST" action="/auth/password"
            enctype="multipart/form-data">
          <input type="hidden" name="action" value="signup" />
          <table>
            <tbody>
              <tr>
                <td class="section">
                  {% if 'name' in missing %}
                    <input type="text" autocomplete="off" class="undered input-error" 
                        name="name" placeholder="Full name ..." value="{{ name or fields.name }}" />
                  {% else %}
                    <input type="text" autocomplete="off" class="undered" 
                        name="name" placeholder="Full name ..." value="{{ name or fields.name }}" />
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="section">
                  {% if 'email' in missing %}
                    <input type="text" autocomplete="off" class="undered input-error" 
                        name="email" placeholder="Email ..." value="{{ email or fields.email }}" />
                  {% else %}
                    <input type="text" autocomplete="off" class="undered" 
                        name="email" placeholder="Email ..." value="{{ email or fields.email }}" />
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="section">
                  {% if 'username' in missing %}
                    <input type="text" autocomplete="off" class="undered input-error" 
                        name="username" placeholder="Choose a username ..." value="{{ fields.username }}" />
                  {% else %}
                    <input type="text" autocomplete="off" class="undered" 
                        name="username" placeholder="Choose a username ..." value="{{ fields.username }}" />
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="section">
                  {% if 'bio' in missing %}
                    <input type="text" autocomplete="off" class="undered input-error" 
                        name="bio" placeholder="A few words about you ..." value="{{ fields.bio }}" />
                  {% else %}
                    <input type="text" autocomplete="off" class="undered" 
                        name="bio" placeholder="A few words about you ..." value="{{ fields.bio }}" />
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="section">
                  {% if 'password' in missing %}
                    <input type="password" autocomplete="off" class="undered input-error" 
                        name="password" placeholder="Password ..." value="{{ password or fields.password }}" />
                  {% else %}
                    <input type="password" autocomplete="off" class="undered" 
                        name="password" placeholder="Password ..." value="{{ password or fields.password }}" />
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td align="right">
                  <button type="submit" class="bar-button">
                    <span>Create my account</span>
                    <i class="icon-right"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
