#home-map {
	height: 400px;
	display: block;
	z-index: 0;
	border: 1px solid grey;
}

h1.stats {
	color: white;
	font-size: 38px;
	font-weight: normal;
}

.carousel.stats {
	padding-top: 30px;
}

input.span2.search {
	width: 400px;
}